@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/home/home.vc.less';


@font-face {
    font-family: 'Brandon Grotesque';
    src: url(../../fonts/HVD Fonts - BrandonGrotesque-Black.otf);
    src: url(../../fonts/HVD Fonts - BrandonGrotesque-Black.ttf);
    src: url(../../fonts/HVD Fonts - BrandonGrotesque-Black.woff);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../../fonts/Roboto-Condensed.otf);
    src: url(../../fonts/Roboto-Condensed.ttf);
    src: url(../../fonts/Roboto-Condensed.woff); 
}

@font-face {
    font-family: 'WorkSans Bold';
    src: url(../../fonts/WorkSans-Bold.otf);
    src: url(../../fonts/WorkSans-Bold.ttf);
    src: url(../../fonts/WorkSans-Bold.woff);   
}