@import "main.less";

& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {

    }
}


.hero {
    background-image: url('/images/OHenrys-Hero.jpg');
    background-size: cover;
    text-align: center;
}

.plat-navbar {
    background-color: transparent;
    // border: 0px solid transparent;
    
    left {
       text-align: left;
    }
    a {
        color: white;
        font-family: WorkSans Bold;
        font-size: 1em;
        text-transform: uppercase;
    }
    
    .nav-icon {
        width: 10%;
        padding-left: 10px;
    }


    .center-mark {
        width: 15%;
        margin-top: 5px;
    }
}



.brand {
        font-family: Brandon Grotesque;
        margin: 0;
        
        .logo {
            
            padding: 250px;
            h2 {
                width: 70%;
                font-size: 2.5em;
                color: @secondary-color;
                text-transform: uppercase;
                font-family: Brandon Grotesque;
                margin-left: 150px;
            }
            p{ 
                text-align: center;
            }
            img {
                position: relative;
                width: 55%;
            }
    }
}

.featured-container {
    background-color: #c3c4c4;
    
    img {
        width: 15%;
    }
    
    .product {        
        
        left: 150px;
        h2 {
            font-family: Brandon Grotesque;
            font-weight: 100;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: -35px;
        }
        p {
            font-family: Roboto Condensed;
            font-size: 1.25em;
            color: @primary-color;
            font-weight: 100;
            line-height: 2em;
            margin-bottom: 25px;
        }
        .measure {
            font-family: Brandon Grotesque;
            text-transform: uppercase;
            color: @primary-color;
        }
        .plat-radio {
            @fill-color: @primary-color;
            color: @primary-color;
        }
        h3 {
            color: @primary-color;
            font-family: Brandon Grotesque;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        
        .grind-options {
            width: 90%;
        }
        .options {
            font-family: WorkSans Bold;
            color: @primary-color;
            border: 1px solid @primary-color;
            border-radius: 30px;
            padding: 10px 20px;
            text-transform: uppercase;
            background-color: transparent;
            margin: 5px;
        }
        
        .button-container {
            margin-top: 50px;
            
            .plat-button {
                text-transform: uppercase;
                color: white;
                font-family: WorkSans Bold;
                font-size: 1em;
                padding: 10px 15px;
                border-radius: 10px;
            }
            #add {
                background-color: @primary-color;
            }
            #view {
                background-color: #323133;
            }
        }
        
    }
    
    
    .title {
        font-family: Brandon Grotesque;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        font-size: 1em;
        letter-spacing: .5em;
        color: @primary-color;
    }
    
    .product-image { 
        
        margin-bottom: 700px;
        
        #package {
            width: 100%
        }
        #mug {
            margin-top: 35%;
            width: 50%;
        }
        img {
            position: absolute;
        }
    }
}
    
    
.location-container {

    color: @secondary-color;
    font-family: Brandon Grotesque;
    font-weight: 100;
    margin-bottom: -20px;
    
    a {
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 15px;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
    }
    .retail {
        background-image: url('/images/boxes.png');
        text-align: center;
        padding: 100px;
        
    }
    
    .locations {
        background-image: url('/images/ohc.png');
        text-align: center;
        padding: 100px;
    }
}


.about {
    background-color: #c3c4c4;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    // padding: 0;
    
    #about-border {
    position: absolute;
    margin-top: -50px;
    width: 20%;
    margin-left: -155px;
}
    

    h1 {
        font-family: Brandon Grotesque;
        font-size: 4em;
        color: @primary-color;
        margin-top: -25px;
        margin-bottom: -25px;
    }
    
    p {
        font-family: Roboto Condensed;
        font-weight: 100;
        font-size: 1.25em;
        text-align: center;
        width: 45%;
        margin-left: 25%;
        
    }
    
    h5 {
        color: @primary-color;
        font-size: 1em;
        text-transform: uppercase;
        font-family: Brandon Grotesque;
    }
  
    .plat-button {
        padding: 15px 20px;
        text-transform: uppercase;
        color: @secondary-color;
        font-family: WorkSans Bold;
        background-color: #404040;
        border-radius: 5px;
        margin: 10px auto;
        width: 25%;
    }
}

.social {
    
    margin-bottom: 0;
    img {
        width: 100%;
        padding: 0;
    }
    
}

.footer {
    margin: 0 auto;
    background-color: #404040;
    height: 200px;
    
    a {
        color: #5d555b;
        text-transform: uppercase;
        font-family: WorkSans Bold;
        font-size: 1em;
        padding: 15px;
        margin-top: 50px;
    }
    .brand-image {
        width: 50%;
        margin-left: 25%;
    }
    
    #social {
        width: 10%;
        display: inline-block;
    }
    
    .plat-button {
        background-color: @primary-color;
        padding: 10px 15px;
        color: white;
    }
}